#preloader {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    overflow: hidden;
}

.preloader__img-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
}

.disappearance {
    animation: opac .3s linear forwards;
}

@keyframes opac {
    0% {
        opacity: 100%;
    }
    100% {
        display: none;
        opacity: 0;
    }
}